<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management System</title>


    {% include 'personal/styles.html' %}

</head>
<body>
    
    <div class="header">
        <div class="site-head">
            <div class="site-title">
                <h3>Learning Management System</h3>
            </div>
            <div class="authenticate-div">
                {% if request.user.is_authenticated %}
                    <a href="#" class="link-success">profile</a>
                    <a href="{% url 'logout' %}" class="link-danger">logout</a>
                    {% if request.user|isStudent and not request.user.student.enrolled %}
                        <a href="{% url 'available-courses' %}" class="link-info">course enrollment</a>
                    {% endif %}
                {% else %}
                    <div class="faculty-auth">
                        <a href="{% url 'faculty-register' %}">faculty sign up</a>
                        <a href="{% url 'faculty-login' %}">faculty sign in</a>
                    </div>
                    <div class="student-auth">
                        <a href="{% url 'student-register' %}">student sign up</a>
                        <a href="{% url 'student-login' %}">student sign in</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="content">

        {% include 'personal/errors.html' %}

        {% block content %}

        {% endblock %}

    </div>


    {% include 'personal/scripts.html'%}
</body>
</html>