<div class="navbar">
    <div class="nav-item">
        <a href="{% url 'home' %}">courses</a>
    </div>
    <div class="nav-item">
        {% if request.user|isStudent %}
            <a href="{% url 'student-materials' course.id %}">materials</a>
        {% else %}
            <a href="{% url 'faculty-materials' course.id %}">materials</a>
        {% endif %}
    </div>
    <div class="nav-item">
        {% if request.user|isStudent %}
        <a href="{% url 'student-assignments' course.id %}">assignments</a>
        {% else %}
            <a href="{% url 'faculty-assignments' course.id %}">assignments</a>
        {% endif %}
    </div>
    <div class="nav-item">
        {% if request.user|isStudent %}
            <a href="#">attendance</a>
        {% else %}
            <a href="#">attendance</a>
        {% endif %}
    </div>
    <div class="nav-item">
        {% if request.user|isStudent %}
            <a href="#">feedbacks</a>
        {% else %}
            <a href="#">feedbacks</a>
        {% endif %}
    </div>
</div>