{% extends 'personal/main.html' %}
{% load static %}

{% block navbar %}
    {% include 'personal/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="course-faculty">
        <p>{{course.faculty.record.name}}</p>
        <a href="mailto:{{course.faculty.record.email}}">{{course.faculty.record.email}}</a>
    </div>

    <hr>

    <div class="course-classmates">
        {% for classmate in classmates %}
            <div class="course-classmate">
                <p>{{classmate.record.name}}</p>
                <a href="mailto:{{classmate.record.email}}">{{classmate.record.email}}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}