{% extends 'personal/main.html' %}
{% load static %}

{% block navbar %}
    {% include 'personal/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="create-attendance-div">
        <form action="" method="post" enctype="multipart/form-data" class="create-attendance-form"> {% csrf_token %}

            <table class="table table-striped table-hover table-bordered attendance-table">
                {% for student in students %}
                    <tr>
                        <td>{{student.record.name}}</td>
                        <td>{{student.record.rollno}}</td>
                        <td>
                            <label for="yes">yes</label>
                            <input type="radio" value="yes" name={{student.id}} id="yes">
                        </td>
                        <td>
                            <label for="no">no</label>
                            <input type="radio" value="no" name={{student.id}} id="no">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            <button type="submit" class="btn btn-primary">add</button>
        </form>
    </div>

{% endblock %}