{% extends 'personal/main.html' %}
{% load static %}

{% block navbar %}
    {% include 'personal/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="add-material">
        <a href="{% url 'create-material' course.id %}">add material</a>
    </div>

    <div class="materials">
        {% for material in materials %}
            <div class="material">
                <p class="material-name">{{material.name}}</p>
                {% if material.type == 'link' %}
                    <a href={{material.link}} class="material-link">Go to file</a>
                {% else %}
                    {{material.file}}
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}