@import url(./globals.css);
@import url(./variables.css);

.enroll-courses {
}

.enroll-course {
    display: flex;
    align-content: space-between;
}

.enroll-course div {
    margin: 1rem 0;
}

.enroll-courses label {
    float: left;

    margin: 1rem;

    text-align: center;

    /* border: 1px solid red; */
}

.enroll-courses label .enroll-course {
    display: block;

    width: 15rem;
    height: 15rem;
    
    text-align: center;

    font-family: var(--font-primary);
    
    padding: 3px 0px;

    border-radius: 10px;

    cursor: pointer;
    
    /* border: 1px solid red; */

    color: var(--clr-primary-800);
    background-color: var(--clr-primary-400);
}

.enroll-courses label input {
    position: absolute;
    top: -20px;
}

.enroll-courses input:checked + .enroll-course {
    color: var(--clr-primary-400);
    background-color: var(--clr-primary-800);
}






/* courses start */

.courses {
    width: 100%;

    float: left;
}

.course {
    display: inline-flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;

    width: 15rem;
    height: 15rem;

    margin: 0 4rem;

    /* border: 1px solid red; */

    color: var(--palatte-4);
    background-color: var(--palatte-3);

    font-family: var(--font-primary);
}

/* courses end */













/* materials start */

.add-material, .add-assignment {    
    width: 50%;

    margin: 2rem auto;
    padding: 0.5rem;
    
    font-family: var(--font-primary);

    text-align: center;

    font-size: 1.5em;
    
    /* color: var(--palatte-1); */
    background-color: var(--palatte-3);
    
    border-radius: 10px;
}

.add-material a, .add-assignment a {
    color: var(--palatte-1);
}

.materials, .assignments {    
    width: 50%;

    margin: 2rem auto;

    font-family: var(--font-primary);
}

.material, .assignment {
    margin: 1rem 0;
    padding: 0.5rem;

    color: var(--clr-primary-900);
    background-color: var(--clr-primary-200);

    border-radius: 10px;
}


/* materials end */


















/* assignment start */

.assignment {
    display: flex;
    flex-direction: row;
}

.assignment-details {
    flex: 4;
}

.assignment-status {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}


.submitted {
    color: green;
    background-color: rgb(144, 255, 144);
}

.pending {
    color: orange;
    background-color: rgb(255, 214, 144);
}

.late {
    color: red;
    background-color: rgb(255, 142, 144);
}



/* assignment end */