@import url(./globals.css);
@import url(./variables.css);

.header {
    width: 100%;

    padding: 2rem;

    background-color: var(--palatte-1);
}

.site-head {
    display: flex;
    justify-content: space-between;
}


.navbar {
    background-color: var(--palatte-2);
}

.authenticate-div {
    display: flex;
}


.faculty-auth, .student-auth {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 1rem;

    /* text-transform: uppercase; */
    font-weight: 600;
}

.faculty-auth a, .student-auth a {
    color: var(--palatte-3);

    padding: 2px;
    border-radius: 5px;

    transition: background-color 0.5s;
}


.faculty-auth a:hover, .student-auth a:hover {
    background-color: var(--palatte-2);
}